# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# IntelliJ
.idea/

# Jenkins build dirs
#global types to ignore
*.swp

#Only get job configs and ignore other data
!jenkins_home/jobs/*
jenkins_home/jobs/*/*
!jenkins_home/jobs/*/config.xml

#Ignore expanded plugins folders because we only want jpi files
#plugins/*/*

#Ignore all plugins
#jenkins_home/plugins

#Ignore logs
jenkins_home/logs
*.log

#Ignore workspaces
jenkins_home/workspace/

#Ignore other stuff
.bash_history
jenkins_home/.bash_history
jenkins_home/.ssh/known_hosts
jenkins_home/queue.xml
jenkins_home/queue.xml.bak
jenkins_home/copy_reference_file.log
nexus-data/log
chef-repo/nodes
